:root {
  --text-primary: #000;
  --color-primary: #F1F1F1;
  --color-secondary: #E3E5E8;
  --color-quaternary: #EBEDEF;
  --color-scroll: #b8b8b8;
  --color-scroll-hover: #888;
  --color-brand: #00a8ff;
  --color-brand-secondary: #2ab8ff;
}

$color-warning: #e0a500;
$color-danger: #f44336;
$color-success: #4caf50;
$color-info: #0059ff;
